[submodule "manifold"]
	path = External/manifold
	url = https://github.com/elalish/manifold.git
[submodule "clipper2"]
	path = External/clipper2
	url = https://github.com/AngusJohnson/Clipper2
[submodule "oneTBB"]
	path = External/oneTBB
	url = https://github.com/tomasf/oneTBB.git
	fetchrecursesubmodules = true
